@use "./variables" as *;

@mixin button-pink {
  padding: 0.75rem 1.5rem;
  background-image: linear-gradient($color-fucshia, rgb(143, 25, 84));
  border: none;
  border-radius: 30px;
  color: $color-white;
  font-variation-settings: "wght" 600;
}

@mixin button-blue {
  padding: 0.75rem 1.5rem;
  background-image: linear-gradient(
    #65d5f1,
    $color-lightblue,
    rgb(21, 132, 206)
  );
  border: none;
  border-radius: 30px;
  color: $color-white;
  font-variation-settings: "wght" 600;
}

@mixin input-field {
  border-radius: 50px;
  border: none;
  background-color: rgba(255, 255, 255, 0.25);
  color: $color-white;
  padding: 0.5rem 1rem;

  &::placeholder {
    color: $color-white;
  }
}
