// Colors
$color-darkblue: #12153b;
$color-midblue: #0e135c;
$color-lightblue: #18accb;
$color-fucshia: #de3275;
$color-fucshia-hover: #c92c68;
$color-fucshia-active: #a72557;
$color-pink: #e04492;
$color-purple: #83186d;
$color-white: white;